{% extends 'account/base.html' %}
{% load static %}

{% block content %}
    <!--    {% block account %}-->
        <div class="container">
            <h1 class="heading-primary">Личный кабинет</h1>
            <a href="{% url 'account:add_article' %}" class="btn btn-primary me-md-2" type="button">Создать статью</a>
            <a href="{% url 'user_articles:user_articles' %}" class="btn btn-primary me-md-2" type="button">Мои статьи</a>
        </div>
        <!--    {% endblock account %}-->
{% endblock content %}