{% extends 'articles/base.html' %}
{% load static %}
{% block content %}
    <div class="wrapper">
        <div class="content">
            <div class="heading mb-4">
                <h2>Закладки</h2>
                <img src="{% static 'svg/book.svg' %}" alt="">
            </div>
            <div class="bookmark">
                {% include 'articles/includes/string_output.html' %}
            </div>
            {% if articles.paginator.count > 20 %}
            <!-- Начало блока пагинации -->
            {% include 'account/includes/paginations/paggination_bookmarks.html' %}
            <!-- Конец блока пагинации -->
            {% endif %}
        </div>
    </div>
{% endblock content %}