{% extends 'articles/base.html' %}
{% load static %}
{% block content %}

    <form class="form-horizontal" action="{% url 'account:edit_password' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>Введите старый пароль</p>
        <input type="password" name="old_password">
        <p>Введите новый пароль</p>
        <input type="password" name="new_password">
        <br><br>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
{% endblock content %}
