{% extends 'articles/base.html' %}
{% load my_tags %}
{% block content %}

    <div class="auth-form">
        <form class="form-horizontal" action="{% url 'account:edit_profile' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="flex-center" style="flex-direction: column">
                <div class="flex-center mb-3"><img class="ava-img" src=
                        "{{ user.habruserprofile.avatar|media_folder_users }}"
                           alt="avatar"></div>
                {% if user.username %}
                    <div class="flex-center">{{ user.username }}</div>
                {% else %}
                    ?User?
                {% endif %}
            </div>
            <br>
            {{ edit_form.as_table }}
            <br>
            <button type="submit" class="btn btn-primary">Сохранить</button>
            <button class="btn btn-danger">
                <a style="color:white" href="{% url 'account:read_profile' %}">Назад</a>
            </button>
        </form>
        <br>
        <a href="{% url 'account:edit_password' %}"><button class="btn btn-primary">Изменить пароль</button></a>

    </div>
    {% include 'account/includes/inc_notification_of_change_data.html' %}
{% endblock content %}
