{% extends 'articles/base.html' %}
{% load static %}
{% block content %}

    <form class="form-horizontal" action="{% url 'account:edit_profile' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {#            загрузка аваттарки    #}
        {% if user.avatar %}
            <img src="/media/avatars/{{ user.avatar }}" alt="avatar"/>
        {% else %}
            <img src="{% static 'img/avatar.jpg' %}" alt=""/>
        {% endif %}
        {#            загрузка юзернейм     #}
        {% if user.username %}
            {{ user.username }}
        {% else %}
            ?User?
        {% endif %}
        <br>
        {{ edit_form.as_table }}
        {{ edit_profile_form.as_table }}
        <br>
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <button type="reset" class="btn btn-danger">Сбросить</button>
    </form>
    <br><br>
    <a href="{% url 'account:edit_password' %}"><button class="btn btn-primary">Изменить пароль</button></a>
{% endblock content %}
