{% extends 'articles/base.html' %}
{% load static %}

{% block content %}
    <div class="container mt-4">
        <form action="" method="post" enctype="multipart/form-data" style="max-width: 80%; margin: 0 auto">
            {% csrf_token %}
            <h1 style="text-align: center">Изменить статью</h1>
            <div class="add-article">
                {{ update_form.as_table }}
            </div>
            <br/>
            <button type="submit" class="btn btn-primary">Сохранить</button>
            {#            <button type="submit" class="btn btn-primary">Сохранить и опубликовать</button>#}
            <button class="btn btn-danger">
                <a style="color:white" href="{% url 'account:user_articles' %}">Назад</a>
            </button>
        </form>
    </div>
    {% include 'account/includes/inc_notification_of_change_data.html' %}
{% endblock content %}
{% block js %}
    {{ block.super }}
    {{ update_form.media }}
{% endblock js %}