{% extends 'articles/base.html' %}
{% load static %}
{% block content %}
    <form class="auth-form" action="{% url 'account:edit_password' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ edit_form.as_table }}
        {{ edit_form.non_field_errors }}
        <br>
        <button type="submit" class="btn btn-primary save-changes">Сохранить</button>
        <button class="btn btn-danger"><a href="{% url 'account:edit_profile' %}">Назад</a></button>

    </form>
    <div style="display:none;" class="alert alert-success" role="alert">
        Пароль успешно изменён!
    </div>
{% endblock content %}
