{% extends 'articles/base.html' %}
{% load static %}
{% block content %}
    <form class="auth-form" action="{% url 'account:edit_password' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ edit_form.as_table }}
        <br>
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <button class="btn btn-danger">
            <a style="color:white" href="{% url 'account:edit_profile' %}">Назад</a>
        </button>

    </form>
    {% include 'account/includes/inc_notification_of_change_data.html' %}
{% endblock content %}
