{% extends 'articles/base.html' %}
{% load static %}
{% block content %}
    <div class="container mt-4">
      <form
        action=""
        method="post"
        enctype="multipart/form-data"
        style="max-width: 80%; margin: 0 auto"
      >
        <h1>Добавить статью</h1>
        <div class="mb-3">
          <label class="form-label">Название статьи</label>
          <input type="text" name="article-title" class="form-control" />
        </div>
        <div class="mb-3">
          <select class="form-select" aria-label="Default select example">
            <option selected>Выберите раздел</option>
            <option value="1">Дизайн</option>
            <option value="2">Веб-разработка</option>
            <option value="3">Мобильная разработка</option>
            <option value="4">Маркетинг</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="formFile" class="form-label"
            >Загрузить заглавную картинку</label
          >
          <input
            class="form-control"
            type="file"
            accept="image/*"
            id="formFile"
          />
        </div>
        <h6>Текст статьи</h6>
        <textarea
          name="article-text"
          cols="100"
          rows="20"
          class="form-control"
        ></textarea
        ><br />
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <button type="submit" class="btn btn-danger">Очистить</button>
      </form>
    </div>
{% endblock content %}
