{% extends 'articles/base.html' %}
{% load static %}
{% block content %}
    {% include 'account/includes/inc_menu.html' %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <table class="table table-striped table-light">
        <tbody>
        {%for key, value in notification_all%}
            {% if key == 'comment' %}
                <tr>
                    <td data-label = 'date'>
                    {{value.date}}
                    </td>
                    <td>
                        <a href="{% url 'articles:author_profile' value.author.id %}" class="post-author">
                            {{ value.author }}
                        </a>
                        прокомментировал статью
                        <a href="{% url 'articles:article' value.article.id %}">
                            "{{ value.article|truncatewords:10 }}"</a>
                    </td>
                </tr>
            {% elif key == 'answered_you' %}
                <tr>
                    <td data-label = 'date'>
                        {{value.date}}
                    </td>
                    <td>
                        <a href="{% url 'articles:author_profile' value.author.id %}" class="post-author">
                            {{ value.author }}
                        </a>
                        ответил
                        <a href="{% url 'articles:article' value.article.id %}">
                            "{{ value.article|truncatewords:10 }}"</a>
                    </td>
                </tr>
            {% elif key == 'like' %}
                <tr>
                    <td data-label = 'date'>
                        {{value.date}}
                    </td>
                    <td>
                        <a href="{% url 'articles:author_profile' value.user.id %}" class="post-author">
                            {{ value.user}}
                        </a>
                        понравилась статья
                        <a href="{% url 'articles:article' value.article.id %}">
                            "{{ value.article|truncatechars:25 }}"</a>
                    </td>
                </tr>
            {% elif key == 'dislike' %}
                <tr>
                    <td data-label = 'date'>
                        {{value.date}}
                    </td>
                    <td>
                        <a href="{% url 'articles:author_profile' value.user.id %}" class="post-author">
                            {{ value.user }}
                        </a>
                        не понравилась статья
                        <a href="{% url 'articles:article' value.article.id %}">
                            "{{ value.article|truncatechars:25 }}"</a>
                    </td>
                </tr>
            {% elif key == 'like_karma' %}
                 <tr>
                    <td data-label = 'date'>
                        {{value.date}}
                    </td>
                    <td>
                        <a href="{% url 'articles:author_profile' value.user.id %}" class="post-author">
                            {{ value.user }}
                        </a>
                        повысил карму
                    </td>
                </tr>
            {% elif key == 'dislike_karma' %}
                <tr>
                    <td data-label = 'date'>
                        {{value.date}}
                    </td>
                    <td>
                        <a href="{% url 'articles:author_profile' value.user.id %}" class="post-author">
                            {{ value.user }}
                        </a>
                        понизил карму
                    </td>
                </tr>
            {% elif key == 'comment_like' %}
                <tr>
                    <td data-label = 'date'>
                        {{value.date}}
                    </td>
                    <td>
                        <a href="{% url 'articles:author_profile' value.user.id %}" class="post-author">
                            {{ value.user }}
                        </a>
                        понравился ваш комментарий
                        <a >"{{ value.comment.body|truncatechars:25 }}"</a>
                    </td>
                </tr>
            {% elif key == 'comment_dislike' %}
                <tr>
                    <td data-label = 'date'>
                        {{value.date}}
                    </td>
                    <td>
                        <a href="{% url 'articles:author_profile' value.user.id %}" class="post-author">
                            {{ value.user }}
                        </a>
                        не понравился ваш комментарий
                        <a >"{{ value.comment.body|truncatechars:25 }}"</a>
                    </td>
                </tr>

            {%endif%}
        {% empty %}
            <p style="text-align: center;">Уведомлений нет</p>
        {%endfor%}
        </tbody>
    </table>

<script>
    function tableSort(table) {
  $('tbody > tr', table).sort(function(a, b) {
    return $('td[data-label="date"]', a).text() > $('td[data-label="date"]', b).text();
  }).each(function() {
    $(this).appendTo(table);
  });
}

$(function() {
  $('table').each(function() {
    tableSort('table');
  });
});
</script>


{%endblock%}
