{% extends 'articles/base.html' %}
{% load static %}

{% block content %}
    <div class="container" style="padding-left: 0 !important; padding-right: 0 !important;">
        {% include 'account/includes/inc_menu.html' %}
        <div class="row">
            <div class="artbox-content">
                {% for article in articles %}
                    {% if article.0.is_active %}
                        {% include 'account/includes/post.html' %}
                    {% endif %}
                {% empty %}
                    <p style="text-align: center;">У вас нет статей</p>
                {% endfor %}
            </div>
            {% if articles.paginator.count > 12 %}
                <!-- Начало блока пагинации -->
                <br><br>
                {% include 'account/includes/paginations/pagination_user_article.html' %}
            {% endif %}
            <!-- Конец блока пагинации -->
        </div>
    </div>
{% endblock content %}