{% extends 'articles/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        {% include 'account/includes/inc_menu.html' %}
        <div class="row">
            <div class="col-lg-10 col-12">
                {% for article in articles %}
                    {% if article.0.is_active %}
                        {% include 'account/includes/post.html' %}
                    {% endif %}
                {% empty %}
                    <p style="text-align: center;">У вас нет статей</p>
                {% endfor %}
                {% if articles.paginator.count > 5 %}
                <!-- Начало блока пагинации -->
                    {% include 'account/includes/paginations/pagination_user_articles_publications.html' %}
                {% endif %}
                <!-- Конец блока пагинации -->
            </div>
        </div>
    </div>
{% endblock content %}