{% extends 'user_articles/base.html' %}
{% load static %}

{% block content %}
        <div class="container">
            <div class="featured">
                <div class="featured-menu">
                        <a class="active" href="{% url 'user_articles:user_articles'%}">Все статьи</a>
                        <a href="{% url 'user_articles:publications'%}">Опубликованные статьи</a>
                        <a href="{% url 'user_articles:draft'%}">Черновик</a>
                        
                </div>
            </div>
            <div class="clear-fix"></div>
            <a href="{% url 'account:add_article' %}" class="btn btn-primary me-md-2" type="button">Создать статью</a>
            <div class="row">
                <div class="col-8">
                    {% for article in articles %}
                        {% include 'user_articles/includes/post.html' %}
                    {% empty %}
                    <p>У вас нет статей.</p>
                    {% endfor %}
                </div>
            </div>
{% endblock content %}