{% load static %}
{% load my_tags %}
<div class='string__container moder-string'>
    {% for article in articles %}
        <a href="{% url 'articles:article' article.id %}" class="bookmark__row" style="min-height: 60px !important;">
            <div class="col-lg-2 col-4 bord">
                {{ article.created }}
            </div>
            <div class="col-4 bord">{{ article.title|truncatechars:25 }}</div>
            <div class="col-lg-2 col-4 bord" style="font-weight: 700">
                {{ article.author }}
                {#                                <img src="{{ article.author.habruserprofile.avatar }}" alt="ava"/>#}
            </div>
            <div class="col-lg-3 bord mobile-hide">{{ article.hub }}</div>
            <div class="mini-img-box-mod col-lg-1 mobile-hide">
                <img class="mini-img" src="{{ article.image|media_folder_images }}" alt="">
            </div>
        </a>
    {% endfor %}
</div>