{% extends 'my_articles/base.html' %}
{% load static %}

{% block content %}
        <div class="container">
            <h1 class="heading-primary">Мои Статьи</h1>
            <a href="{% url 'account:add_article' %}" class="btn btn-primary me-md-2" type="button">Создать статью</a>
            <div class="accordion">
                <dl>
                    {% for article in articles %}
                        <dt>
                            <a href="#accordion1" aria-expanded="false" aria-controls="accordion1"
                               class="accordion-title accordionTitle js-accordionTrigger">
                                Статья {{ forloop.counter }}. {{ article.title }}</a>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <a href="#" class="btn btn-primary me-md-2" type="button">Редактировать</a>
                                <a href="#" class="btn btn-primary me-md-2" type="button">Удалить</a>
                            </div>
                        </dt>
                        <dd class="accordion-content accordionItem is-collapsed" id="accordion1" aria-hidden="true">
                            {{ article.body }}
                        </dd>
                    {% endfor %}
                </dl>
            </div>
        </div>
{% endblock content %}