.filter-list {
    display: none;
    position: absolute;
    right: 380px;
    list-style-type: none;
    padding-left: 0px;
    background: white;
    border: solid black 1px;
}

.filter-el {
    display: block;
    float: left;
    margin: 4px;
}

.filter-icon {
    position: relative;
    right: 380px;
    height: 30px;
    width: 55px;
    top: 4px;
}

.close-filter-icon {
    height: 11px;
    width: 10px;
    margin-right: 4px
}

.close-filter-menu {
    float: right;
}