@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700");

.clear-fix {
    content: "";
    display: block;
    clear: both;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgb(80, 80, 80);
}

.logo {
    margin-right: 1rem;
    font-family: "Montserrat", sans-serif;
    font-size: 2em;
    color: azure;
}

.logo:hover {
    color: rgb(188, 206, 206);
    cursor: pointer;
}

.hubs {
    border-left: 4px solid #fff;
}

.hubs li {
    padding-left: 1em;
    display: inline;
    margin-right: 5px;
}

.hubs li a {
    color: azure;
    font-family: sans-serif;
}

.hubs li a:hover {
    color: rgb(188, 206, 206);
    cursor: pointer;
}

.post-link {
    font-size: 2em;
    color: black;
    display: block;
}

.post-content {
    text-align: justify;
}

.post-author {
    color: rgb(31, 128, 128);
    font-weight: 600;
}

.post-author img {
    width: 1.5em;
    height: 1.5em;
    border-radius: 0.75em;
}

.post-content img {
    max-width: 800px;
    max-height: 600px;
}

.post-status {
    margin-top: 1em;
    padding: 0.3em;
    display: flex;
    flex-direction: row;
}

.post-status img, .comment-rating img {
    width: 1.8em;
    height: 1.2em;
    filter: brightness(0.5) sepia(1) hue-rotate(-70deg) saturate(5);
}

.mini-post a {
    font-weight: 500;
    font-size: 20px;
}

.mini-post-status {
    margin-top: 0.2em;
}

.footer {
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: auto;
    padding: 1rem;
    background-color: #212529;
    text-align: center;
    color: #fff;
}

@media (max-width: 1200px) {
    .post-content img {
        max-width: 600px;
        max-height: 500px;
    }
}

@media (max-width: 992px) {
    .hubs {
        border-left: none;
    }

    .post-content img {
        max-width: 500px;
        max-height: 400px;
    }
}

@media (max-width: 768px) {
    .post-content img {
        max-width: 500px;
        max-height: 400px;
    }

    .col-1 {
        display: none;
    }

    .col-3 {
        display: none;
    }

    .col-8 {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .post-content img {
        max-width: 400px;
        max-height: 300px;
    }

    .col-8 {
        min-width: 400px;
    }
}

.mini-post-column {
    padding: 15px;
    background: #f7f7f7;
    border-radius: 7px;
}

.promo {
    width: 100%;
    height: auto;
}

.promo-text {
    margin: 5px;
    font-size: 22px;
    font-weight: bold;
}

.author-row {
    border: 1px solid #e4e8ea;
    border-radius: 4px;
    background: #f7f7f7;
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
    margin-top: 50px;
}

.author-block {
    display: flex;
}

.author-avatar {
    height: 80px;
    margin: 15px;
}

.author-rating {
    margin: 15px;
    flex-direction: column;
    text-align: center;
}

.author-rating-num {
    margin: 5px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 24px;
}

.author-karma-num {
    margin: 5px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 24px;
    font-style: italic;
}

.author-karma-text {
    margin: 7px;
    font-size: 18px;
    font-style: italic;
    color: gray;
}

.author-karma-num{
    margin-right: 10px;
}

.choose-karma {
    display: flex;
    flex-direction: row;
}

.separator {
    min-width: 35px;
}

/* .karma {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
} */

.author-rating-text {
    margin: 5px;
    font-size: 18px;
}

.author-username {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 26px;
    margin: 5px 5px 20px 15px;
}

.comment-user-box {
    display: inline-block;
    width: 100%;
}

.comment-rating {
    display: inline-block;
    float: right;
}

.comment-user-box {
    margin-bottom: 10px;
}

html,
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    min-height: 100%;
}

.clr {
    height: 56px;
}

.outline-light {
    color: white;
}

.black-word {
    color: black;
}

.blue-word {
    color: rgb(38, 93, 174);
}


.btn-secondary {
    background-color: #212529;
    border-color: white;
}

.django-ckeditor-widget {
    margin-top: 1em;
}

.form-control {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.mini-title {
    font-size: 13px;
    font-weight: 600;
}

.mini-time {
    font-size: 11px;
    color: green;
}

.right-column {
    position: sticky;
    top: 5.5em;
}

.featured {
    padding-left: 0;
    padding-right: 0;
}

.featured-menu {
    height: 49px;
    float: left;
    margin-bottom: 35px;
}

.featured-menu a {
    color: #6c6c6c;
    font-size: 26px;
    font-weight: 500;
    text-align: left;
    text-decoration: none;
    border-bottom: 1px solid #6c6c6c;
    padding-bottom: 10px;
    padding-right: 13px;
    padding-left: 9px;
}

.featured-menu .active {
    font-size: 26px;
    font-weight: 500;
    text-align: left;
    color: #212121;
    border-bottom: 3px solid #212121;
    padding-bottom: 8px;
}

.featured-menu a:hover {
    font-size: 26px;
    font-weight: 500;
    color: #212121;
    border-bottom: 3px solid #212121;
    padding-bottom: 8px;
}

.featured-menu a:active {
    font-size: 26px;
    font-weight: 500;
    color: #6c6c6c;
    border-bottom: 3px solid #212121;
    padding-bottom: 8px;
}

.ava-img {
    height: 260px;
    display: block;
}

.main-image {
    width: 840px;
    height: 561.75px;
}

.green {
    color: green;
    font-weight: bold;
}

.red {
    color: red;
    font-weight: bold;
}

.pink {
    color: #FF6699;
}

.dark {
    color: #990000;
}

div.scrollup {
  position: fixed;
  color: gray;
  background-color: white;
  left: 40px;
  bottom: 65px;
  padding: 10px;
  font-size: 28px;
  border-radius: 50px;
  cursor: pointer;
  display: none;
  text-align: center;
  border: 1px gray;
}

div.scrollup:hover {
  background-color: lightgrey;
}

.page-link {
    color: black;
}
.page-link:hover {
    color: black;
}

.magnifier {
    height: 36px;
    width: 55px;
}

.icon-item {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.element-search-list {
    float: left;
}

.input-search {
    margin: 0 auto;
}

.form-search {
    display: none;
}

.form-search form{
    display: flex;
}

.magnifier-in-input {
    position: relative;
    right: 51px;
}


.scrollup, .scrolldown {
  position: fixed;
  color: gray;
  background-color: white;
  left: 40px;
  bottom: 65px;
  padding: 10px;
  font-size: 28px;
  border-radius: 50px;
  cursor: pointer;
  display: none;
  text-align: center;
  border: 1px gray;
}

.scrollup:hover, .scrolldown:hover {
  background-color: lightgrey;
}

.text-muted {
    margin-top: 13px;
}

.auth-form {
    margin: 0 auto;
    width: 300px;
}

.social-auth {
    text-align: center;
}

.auth-form button {
    width: 100%;
    margin-top: .5rem;
}

.verify-block {
    text-align: center;
}

.warning-verify-btn {
    cursor: pointer;
}

.warning-verify {
    width: 45px;
    margin-right: 15px;
    position: relative;
}
