{% load static %}
<hr/>
<div class="post mb-4">
    <div class="post-head">
        <a href="{% url 'articles:article' article.id %}" class="post-link mb-3"
        >{{ article.title }}</a>
        {% if article.image %}
            <img src="/media/img_articles/{{ article.image }}" alt=""/><br/>
        {% else %}
            <img src="{% static 'img/photo1.jpg' %}" alt="#" class="w-100 mb-2">
        {% endif %}
        <span class="text-muted">{{ article.published }}</span>
    </div>
    <div class="post-content mt-3">
        <p>{{ article.body|truncatewords:"25" }}</p>
        <a class="btn btn-outline-dark mt-1" href="{% url 'articles:article' article.id %}">Перейти к статей</a>
        <a class="btn btn-outline-info blue-word mt-1" href="#">Редактировать</a>
        {% if not article.draft %}
        <a class="btn btn-outline-warning mt-1" href="#">Снять с публикации</a>
        {% elif article.draft %}
        <a class="btn btn-outline-success mt-1" href="#">Опубликовать</a>
        {% endif %}
        <a class="btn btn-outline-danger mt-1" href="#">Удалить</a>
        <div class="post-status">
            <img src="{% static 'svg/star(white).svg' %}"/><small class="text-muted">{{ article.stars }}</small>
            <img src="{% static 'svg/view.svg' %}"/><small class="text-muted">{{ article.views }}</small>
        </div>
    </div>
</div>
<br>