{% extends 'articles/base.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-8">
            {% for article in articles %}
                {% include 'articles/includes/post.html' %}
            {% empty %}
                <p>Тут пока нет статей.</p>
            {% endfor %}
            {% if articles.coutn > 5 %}
            <!-- Начало блока пагинации -->
            {% include 'articles/includes/paginations/paggination_hub.html' %}
            <!-- Конец блока пагинации -->
            {% endif %}
        </div>
        <div class="col-1"></div>
        {% if last_articles != None %}
            {% include 'articles/includes/right_block.html' %}
        {% endif %}
    </div>
{% endblock content %}