{% extends 'articles/base.html' %}
{% load static %}
{% load my_tags %}
{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-8">
                <div class="post mb-4">
                    <div class="post-head">
                        {#            загрузка заглавной картинки    #}
                        <img class="main-image" src="{{ article.image|media_folder_images }}" alt="main-image"/><br/>
                        <a href="#" class="post-author">
                            {#            загрузка аваттарки    #}
                            <img src="{{ article.author.habruserprofile.avatar|media_folder_users }}" alt=""/>
                            {#            загрузка юзернейм     #}
                            {% if article.author.username %}
                                {{ article.author.username }}
                            {% else %}
                                User
                            {% endif %}
                        </a>
                        <span>{{ article.published }}</span>
                        <h1>{{ article.title }}</h1>
{#                        <a href="#" class="post-link">{{ article.title }}</a>#}
                    </div>
                    <div class="post-content mt-3">
                        <br/>
                        <span>{{ article.body | linebreaksbr }}</span>
                        <div class="post-status">
                            <a href="#"><img src="{% static 'svg/like.svg' %}" alt=""/></a>
                            <small class="text-muted">{{ article.likes }}</small>
                            <a href="#"><img src="{% static 'svg/dislike.svg' %}" alt=""/></a>
                            <small class="text-muted">{{ article.dislikes }}</small>
                            <a href="#"><img src="{% static 'svg/bookmark.svg' %}" alt=""/></a>
                            <small class="text-muted">{{ article.bookmarks }}</small>
                            <img src="{% static 'svg/view.svg' %}" alt=""/><small
                                class="text-muted">{{ article.views }}</small>
                            <img src="{% static 'svg/comment.svg' %}" alt=""/><small class="text-muted">2</small>
                        </div>
                    </div>
                </div>
                <div class="author-row">
                    <div class="author-block">
                        <img class="author-avatar" src="{{ article.author.habruserprofile.avatar|media_folder_users }}" alt="avatar"/>
                        <div class="author-rating">
                            <div class="author-rating-num">{{ article.author.rating }}</div>
                            <div class="author-rating-text">Рейтинг автора</div>
                        </div>
                    </div>
                    <div class="author-block">
                        <a href="#">
                            <div class="author-username">{{ article.author.username }}</div>
                        </a>
                    </div>
                </div>
                <div class="comment-row">
                    <h2 class="mb-4">Комментарии</h2>
                    <hr/>
                    <div class="m-4">
                        <div>
                            <a href="#" class="post-author">
                                <img src="{% static 'img/avatar.jpg' %}" alt=""/>
                                Username
                            </a>
                            <span>сегодня в 13:00</span>
                            <div class="comment-rating">
                                <a href="#"><img src="{% static 'svg/like.svg' %}" alt=""/></a>
                                <small class="text-muted">-9</small>
                                <a href="#"><img src="{% static 'svg/dislike(filled).svg' %}" alt=""/></a>
                            </div>
                        </div>
                        <div class="comment-text">
                            <div>Прочитал, ничего не понял, гугл переводчик тож тупит</div>
                        </div>
                    </div>
                    <div class="m-4">
                        <div>
                            <a href="#" class="post-author">
                                <img src="{% static 'img/avatar.jpg' %}" alt=""/>
                                Username
                            </a>
                            <span>сегодня в 13:00</span>
                            <div class="comment-rating">
                                <a href="#"><img src="{% static 'svg/like(filled).svg' %}" alt=""/></a>
                                <small class="text-muted">55</small>
                                <a href="#"><img src="{% static 'svg/dislike.svg' %}" alt=""/></a>
                            </div>
                        </div>
                        <div class="comment-text">
                            <div>Отличная статья, нужно учить латынь</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
            {% include 'articles/includes/right_block.html' %}
        </div>
    </div>
{% endblock content %}
