{% extends 'articles/base.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-8">
{#            <h1>{{ hub }}</h1>#}
            <hr/>
            {% for article in articles %}
                {% include 'articles/includes/post.html' %}
            {% empty %}
                <p>Тут пока нет статей.</p>
            {% endfor %}
        </div>
        <div class="col-1"></div>
        {% include 'articles/includes/right_block.html' %}
    </div>
{% endblock content %}