{% extends 'articles/base.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-main">
            <!-- Начало блока сортировки -->
            {% include 'articles/includes/sorted/sorted.html' %}
            <!-- Конец блока сортировки -->
            <div class="post-list">    
                {% for article in articles %}
                    {% include 'articles/includes/post.html' %}
                {% empty %}
                    <p>Тут пока нет статей.</p>
                {% endfor %}
            </div>    
                {% if articles.paginator.count > 5 %}
                <!-- Начало блока пагинации -->
                {% include 'articles/includes/paginations/paggination.html' %}
                <!-- Конец блока пагинации -->
                {% endif %}
        </div>
        <div class="col-space"></div>
        {% if last_articles != None %}
            {% include 'articles/includes/right_block.html' %}
        {% endif %}
    </div>
{% endblock content %}