{% load static %}



<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    {% block css %}
    {% endblock css %}

</head>

<body>
    {% block header %}
        {% include 'articles/includes/inc_main_menu.html' %}
    {% endblock header %}
    
    {% block content %}
    
    {% endblock content %}
    
    
    {% block footer %}
    
    {% endblock footer %}


    {% block js %}
    {% endblock js %}

</body>
</html>