{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    {% block css %}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
        <link rel="shortcut icon" href="{% static 'svg/logo.svg' %}" type="image/svg+xml">
        <link rel="stylesheet" href="{% static 'css/fa.all.min.css' %}">
        <script src="https://kit.fontawesome.com/a92ddd463b.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-social.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/sorted.css' %}">
        <link rel="stylesheet" href="{% static 'css/filter.css' %}">
        <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
    {% endblock css %}
    <title>{% block title %}{{ title|title }}{% endblock title %}</title>
</head>
<body>
<div class="scrollup"><i class="fas fa-angle-double-up"></i></div>
<div class="scrolldown"><i class="fas fa-angle-double-down"></i></div>
{% block header %}{% include 'articles/includes/header.html' %}{% endblock header %}
{% if not is_banned %}
    <div class="container mt-4" style="overflow: hidden;">
        {% block content %}
        {% endblock content %}
    </div>
{% else %}
    {% include 'articles/includes/ban_page.html' %}
{% endif %}
{% block footer %}{% include 'articles/includes/footer.html' %}{% endblock footer %}
{% block js %}
{#    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>#}
{#    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>#}
{#    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>#}
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous"
    ></script>
{#    <script#}
{#            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"#}
{#            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"#}
{#            crossorigin="anonymous"#}
{#    ></script>#}
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/arrow_up.js' %}"></script>
    <script src="{% static 'js/search-articles.js' %}"></script>
    <script src="{% static 'js/filter-search.js' %}"></script>
    <script src="{% static 'js/modal_send_email.js' %}"></script>
    <script src="{% static 'js/moderator_scripts.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('.sorted-menu').click(function () {
                $('#form-sorted').css({
                    'display': 'flex',
                });
            })
            $('.sorted-input').click(function(e){
                {#e.preventDefault()#}
                let content = $('#form-sorted').serialize();
                content = content.split('=')[1];
                $(this).attr('checked', true);
                let data = {
                    content: content,
                    search_value: '{{ value_search }}'
                }
                $.ajax({
                    url: $('#form-sorted').data('url'),
                    data: data,
                    type: 'GET',
                    success: function(response) {
                        $('.post-list').html(response.result);
                    }
                })
            })
        })
    </script>
{% endblock js %}
</body>
</html>
