{% load static %}

{% block content_comment %}

{% endblock content_comment %}


{% block css %}
        <link href="{% static 'css/comments.css' %}" rel="stylesheet"/>
{% endblock css %}
{% block js %}
<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
        <script>
            $(document).ready(function(){
                $(".reply").click(function (){
                    var parentId = $(this).attr('data-id')
                    $("#createChildCommentForm-"+parentId).fadeToggle();
                });

                $('#createCommentBtn').click(function(e) {
                    let content = $('#createCommentForm').serialize();
            
                    $.ajax({
                        url: $("#createCommentForm").data('url'),
                        data: content,
                        type: 'POST',
                        success: function(response) {
                            $('#commentArticle').html(response.result);
                        }
                    })
                })

                $('#createCommentForm')[0].reset();
                
                $('.createCommentChildBtn').click(function(e) {
                    let id = $(this).attr('data-id')
                    let content = $('#createChildCommentForm-' + id).serialize();

                    $.ajax({
                        url: $('#createChildCommentForm-' + id).data('url'),
                        data: content,
                        type: 'POST',
                        success: function(response) {
                            $('#commentArticle').html(response.result);
                        }
                    })
                });
            });
        </script>
{% endblock js %}