{% for comment_ in comments %}
    {% if comment_.parent_id == True %}
        <br>{{ comment_.parent_id }}

        <ul style="list-style-type:none;">
            <div class="col-md-12 mt-2">
                <li class="li-reply-comment">
                    <div class="main-comment-section col-md-12">
                        <div>
                            <a href="#" class="post-author comment-author">
                                <img src="/static/img/avatar.jpg" alt=""/>
                                <small>{{ comment_.author }}</small>
                            </a>
                            <span>{{ comment_.date }}</span>
                        </div>
                        <div class="comment-text">
                            <div>{{ comment_.body }}</div>
                        </div>
                        <span class='reply reply-comment' data-id="{id} " data-prent={parent_id}>Ответить</span>
                        {#                    {% include 'comments/includes/inc_child_comments.html' %}#}
                    </div>
                </li>
            </div>
        </ul>
    {% endif %}
{% endfor %}