<nav aria-label="Page navigation example">
    <ul class="pagination" style="justify-content: center">
            {% if articles.has_previous %}
            <li class="page-item">
                <div>
                    <a href="{% url 'account:user_articles_pag' 1 %}" class="page-link" aria-label="Previous">
                    <i class="fas fa-chevron-circle-left"></i></a>
                </div>
            </li>
            {% endif %}
            {% if articles.paginator.page_range.stop > 3 %}
                {% if articles.number|add:'-3' > 1 %}
                <div>
                    <li class="page-item">
                        <a href="{% url 'account:user_articles_pag' articles.number|add:'-3' %}" class="page-link">...</a>
                    </li>
                </div>    
                {% endif %}
            {% endif %}    
            {% for cur_page in articles.paginator.page_range %}
                {% if cur_page > articles.number|add:'-3' and cur_page < articles.number|add:'3' %}
                <div>
                    <li class="page-item {% if articles.number == cur_page %}active{% endif %}">
                        <a class="page-link" href="{% url 'account:user_articles_pag' cur_page %}">{{ cur_page }}</a>
                    </li>
                </div>    
                {% endif %}
            {% endfor %}
            {% if articles.paginator.page_range.stop > 3 %}
                {% if articles.number|add:'3' < 6 %}
                <div>
                    <li class="page-item">
                        <a href="{% url 'account:user_articles_pag' articles.number|add:'3' %}" class="page-link">...</a>
                    </li>
                </div>
                {% endif %}
            {% endif %}   
            {% if articles.has_next %}
            <li class="page-item">
                <a href="{% url 'account:user_articles_pag' articles.paginator.num_pages %}" class="page-link" aria-label="Next">
                <i class="fas fa-chevron-circle-right"></i></a>
            </li>    
            {% endif %}
    </ul>    
</nav>