<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container">
        <a class="logo" href="{% url 'main_page' %}">Sputnik</a>
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarToggler02"
                aria-controls="navbarToggler02"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 hubs">

                {% for hub in hubs_menu %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'hub' hub.id %}">{{ hub.hub }}</a>
                    </li>
                    {#                {% empty %}#}
                    {#                    <li class="nav-item"><a class="nav-link" href="#">hubs error</a></li>#}
                {% endfor %}
                    
            </ul>
            {% if user.is_authenticated %}
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ user.username|default:'Пользователь' }}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <button class="dropdown-item" type="button">Создать статью</button>
                  <a href="{% url 'account:articles_list' %}"><button class="dropdown-item" type="button">Личный кабинет</button></a>
                  <div class="dropdown-divider"></div>
                  <a href="{% url 'auth:logout' %}"><button class="dropdown-item" type="button">Выход</button></a>
                </div>
              </div>
            {% else %}
            <a class="btn btn-outline-light me-2" href="{% url 'auth:login' %}">Войти</a>
            <a class="btn btn-outline-light me-2" href="{% url 'auth:register' %}">Регистрация</a>
            {% endif %}
        </div>
    </div>
</nav>
