{% load my_tags %}
<img class="ava-img" src="{{ article.author.habruserprofile.avatar|media_folder_users }}" alt="avatar"/>
<table class="table table-striped table-light">
    <tr>
        <td>Логин:</td>
        <td>{{ user.username|no_data_specified }}</td>
    </tr>
    <tr>
        <td>Настоящее имя:</td>
        <td>{{ user.habruserprofile.full_name|no_data_specified }}</td>
    </tr>
    <tr>
        <td>Место работы:</td>
        <td>{{ user.habruserprofile.place_of_work|no_data_specified }}</td>
    </tr>
    <tr>
        <td>Специализация:</td>
        <td>{{ user.habruserprofile.specialization|no_data_specified }}</td>
    </tr>
    <tr>
        <td>Пол:</td>
        <td>{{ user.habruserprofile.gender|no_data_specified }}</td>
    </tr>
    <tr>
        <td>Дата рождения:</td>
        <td>{{ user.habruserprofile.birth_date|no_data_specified }}</td>
    </tr>
    <tr>
        <td>Страна:</td>
        <td>{{ user.habruserprofile.country|no_data_specified }}</td>
    </tr>
    <tr>
        <td>Регион:</td>
        <td>{{ user.habruserprofile.region|no_data_specified }}</td>
    </tr>
    <tr>
        <td>Город:</td>
        <td>{{ user.habruserprofile.city|no_data_specified }}</td>
    </tr>
</table>