<hr>
<div class="moderator-block" style="height: 150px !important;">
    <div class="mt-4 mb-1">
        <h5>Блок модератора</h5>
    </div>
    <div style="text-align: center">
        <h6 style="opacity: 0.7">вердикт статье:</h6>
    </div>
    <div class="moderator-block-buttons mt-1">
        <div>
            <a class="btn btn-sm mt-1 bcgrnd bcgrnd_red" style="width: 120px !important;" title=""
               href="{% url 'moderator:reject_publishing' article.id %}">На доработку</a>
        </div>
        <div>
            <a class="btn btn-sm mt-1 bcgrnd bcgrnd_green" style="width: 120px !important;" title=""
               href="{% url 'moderator:allow_publishing' article.id %}">Разрешить</a>
            </a>
        </div>

    </div>
</div>
<hr>

{##}
{#<div>#}
{#    <hr>#}
{#    <div>#}
{#        <h4 style="background-color: #cb2027">Блок модератора</h4>#}
{#    </div>#}
{#    <a class="btn btn-outline-success"#}
{#       href="{% url 'moderator:allow_publishing' article.id %}">Разрешить</a>#}
{#    <a class="btn btn-outline-danger"#}
{#       href="{% url 'moderator:reject_publishing' article.id %}">На доработку</a>#}
{##}
{#</div>#}