{% extends 'articles/base.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="heading mb-4">
                <h3>По вашему запросу "</h3>
                <p class="search_text">{{ search_query|truncatewords:5 }}</p>
                <h3>" найдено:</h3>
            </div>
            {% for article in articles %}
                {% include 'articles/includes/string_output.html' %}
            {% endfor %}
            <!-- Начало блока пагинации -->
            {% if articles.paginator.count > 5 %}
                {% include 'articles/includes/paginations/paggination.html' %}
            {% endif %}
            <!-- Конец блока пагинации -->
        </div>
     </div>
{% endblock content %}