{% extends 'articles/base.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <!-- Начало блока сортировки -->
            {% include 'articles/includes/sorted/sorted_search.html' %}
            <!-- Конец блока сортировки -->
            {% if articles %}
                <div class="heading mb-4">
                    <h3>По вашему запросу "</h3>
                    <p class="search_text">{{ value_search|truncatewords:5 }}</p>
                    <h3>" найдено:</h3>
                </div>
                {% include 'articles/includes/string_output.html' %}
                <!-- Начало блока пагинации -->
                {% if articles.paginator.count > 20 %}
                    {% include 'articles/includes/paginations/paggination_search.html' %}
                {% endif %}
                <!-- Конец блока пагинации -->
            {% else %}
                <div class="heading mb-4">
                    <h3>По вашему запросу "</h3>
                    <p class="search_text">{{ value_search|truncatewords:5 }}</p>
                    <h3>" ничего не найдено</h3>
                </div>
            {% endif %}
            
        </div>
    </div>
{% endblock content %}