{% load static %}
{% load my_tags %}
<div class='string__container'>
    {% for article in articles %}
        <a href="{% url 'articles:article' article.id %}" class="bookmark__row">
            <div class="col-lg-6 col-9 bord p-1">{{ article.title|truncatewords:8 }}</div>
            <div class="col-lg-2 bord mobile-hide">
                <p style="font-weight: 700; margin: 0">{{ article.author }}</p>
                {#                                <img src="{{ article.author.habruserprofile.avatar }}" alt="ava"/>#}
            </div>
            <div class="col-lg-1 bord mobile-hide">{{ article.hub }}</div>
            <div class="mini-img-box">
                <img class="mini-img col-lg-2 col-3" src="{{ article.image|media_folder_images }}" alt="">
            </div>
            <div class="col-lg-1 mobile-hide">
                <div class="post-status column_rate">
                    <div class="me-1"
                         title="Рейтинг статьи  &#128077; {{ article.likes.count }}  &#128078; {{ article.dislikes.count }}">
                        <img src="{% static 'svg/star(white).svg' %}"/>
                        {% if article.rating > 0 %}
                            <small class="green">{{ article.rating }}</small>
                        {% elif article.rating < 0 %}
                            <small class="red">{{ article.rating }}</small>
                        {% else %}
                            <small>{{ article.rating }}</small>
                        {% endif %}</div>
                    <div title="Сколько зарегистрированных пользователей прочитали статью">
                        <img src="{% static 'svg/view.svg' %}"/>
                        <small class="text-muted">{{ article.views.count }}</small>
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
</div>