{% load static %}
{% load my_tags %}

<div class="comment-row" id="commentArticle">
    <h2 class="mb-4">({{ comments.count }}) Комментарии</h2>
    <ul class="comment-start" style="list-style-type:none;">
        <div class="col-md-12 mt-2" id="CommentList">
            {% for comment in comments %}
                {% if comment.parent == Null %}
                    <li class="li-reply-comment">
                        <div class="main-comment-section col-md-12" id='CommentId-{{ comment.id }}'>
                            <div>
                                <div style="display: inline-block"><a
                                        href="{% url 'articles:author_profile' comment.author.id %}"
                                        class="post-author comment-author">
                                    <img src="{{ comment.author.habruserprofile.avatar|media_folder_users }}"
                                         alt=""/>
                                    <small>{{ comment.author }}</small>
                                </a></div>
                                <div style="display: inline-block"><span>{{ comment.date }}</span></div>
                            </div>
                            <div class="comment-text">
                                <div>{{ comment.body }}</div>
                            </div>
                            <span class='reply reply-comment' data-id="{{ comment.id }}">Ответить</span>
                            <form method="POST" class="comment-form" id="createChildCommentForm-{{ comment.id }}"
                                  data-url="{% url 'comments:comment_child_create' pk=article.id id_parent_comment=comment.id %}"
                                  style="display:none;">
                                {% csrf_token %}
                                {{ form_comment.as_p }}
                                {% if request.user.is_authenticated %}
                                    <button type="button" data-id="{{ comment.id }}"
                                            class="btn btn-outline-success createCommentChildBtn">Отправить
                                    </button>
                                {% else %}
                                    <button class="btn btn-outline-success"><a
                                            href="{% url 'auth:login' %}">Отправить</a></button>
                                {% endif %}
                                {#         <button type="button" data-id="{{ comment.id }}"#}
                                {#             class="btn btn-outline-success createCommentChildBtn">Отправить#}
                                {#         </button>#}
                            </form>
                            <div class="post-status">
                                {% if comment.id in comments_is_liked %}
                                    <img src="{% static 'svg/like(filled).svg' %}" alt="" id="like-{{ comment.id }}"
                                         class="comment_like"/>
                                {% else %}
                                    <img src="{% static 'svg/like.svg' %}" alt="" id="like-{{ comment.id }}"
                                         class="comment_like"/>
                                {% endif %}
                                <small class="green" id="likes{{ comment.id }}">{{ comment.likes.count }}</small>
                                {% if comment.id in comments_is_disliked %}
                                    <img src="{% static 'svg/dislike(filled).svg' %}" alt=""
                                         id="dislike-{{ comment.id }}" class="comment_dislike"/>
                                {% else %}
                                    <img src="{% static 'svg/dislike.svg' %}" alt="" id="dislike-{{ comment.id }}"
                                         class="comment_dislike"/>
                                {% endif %}
                                <small class="red" id="dislikes{{ comment.id }}">{{ comment.dislikes.count }}</small>
                                <!-- Начало блока жалобы -->
                                <div>
                                    <div>
                                        <a class="btn btn-outline-warning mt-1" title="Жалоба"
                                           href="{% url 'moderator:complain_to_comment' comment.id %}">Жалоба</a>
                                    </div>
                                </div>
                                <!-- Конец блока жалобы -->
                            </div>
                            {% include 'comments/includes/inc_tree_comments.html' %}
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
        </div>
    </ul>
</div>
<div class="container-fluid mt-2">
    <form method="POST" class="comment-form" id="createCommentForm"
          data-url="{% url 'comments:comment_create' pk=article.id %}">
        {% csrf_token %}
        {{ form_comment.as_p }}
        {% if request.user.is_authenticated %}
            <button type="button" id="createCommentBtn" class="btn btn-outline-success">Отправить</button>
        {% else %}
            <button class="btn btn-outline-success"><a
                    href="{% url 'auth:login' %}">Отправить</a></button>
        {% endif %}
        {#        <button type="button" id="createCommentBtn" class="btn btn-outline-success">Отправить</button>#}
    </form>
</div>
