{% load static %}


{% block content %}
<div class="comment-row">
    <h2 class="mb-4">Комментарии</h2>
    <hr/>
    {% for comment in comments %}
    <div class="m-4">
        <div>
            <a href="#" class="post-author">
                {% if comment.author.avatar %}
                <img src="{{ media_url}}{{ comment.author.habruserprofile.avatar }}" alt=""/>
                {% else %}
                <img src="/media/img/avatar.jpg" alt=""/>
                {% endif %}
                {{ comment.author }}
            </a>
            <span>сегодня в 13:00</span>
            <div class="comment-rating">
                <a href="#"><img src="{% static 'svg/like.svg' %}" alt=""/></a>
                <small class="text-muted">-9</small>
                <a href="#"><img src="{% static 'svg/dislike(filled).svg' %}" alt=""/></a>
            </div>
        </div>
        <div class="comment-text">
            <div>{{ comment.body }}</div>
        </div>
    </div>
    {% endfor %}
    <form action="" method="POST">
        {% csrf_token %}
        {{ form_comment.as_p }}
        <button type="submit">Отправить</button>
    </form>
</div>
{% endblock content %}