{% extends 'articles/includes/post.html' %}
{% load static %}
{% block post-content %}
    {{ block.super }}
    <a class="btn btn-outline-info blue-word mt-1" href="{% url 'account:edit_article' article.id %}">Редактировать</a>
    {% if not article.draft %}
        <a class="btn btn-outline-warning mt-1" title="отправить в черновик" href="{% url 'account:draft_article' article.id %}">Снять с
            публикации</a>
    {% elif article.draft %}
{#        <a class="btn btn-outline-success mt-1" href="{% url 'account:draft_article' article.id %}">Опубликовать</a>#}
        <a class="btn btn-outline-success mt-1" title="Статья будет отправлена на модерацию" href="{% url 'account:verify_article' article.id %}">Опубликовать</a>
    {% endif %}
    <a class="btn btn-outline-danger mt-1" href="{% url 'account:del_article'  article.id %}">Удалить</a>
{% endblock post-content %}

